@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 30px 0px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul > li {
    list-style: none;
    margin-right: 50px;
}
nav >ul >li > a {
    text-decoration: none;
    color: #474747;
}
header{
    background-color: #fff8f3;
    background-image: url('./images/header_bg.png'),url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    background-size: contain;
}
.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-secondery{
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 15px 35px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.banner-text{
    max-width: 500px;
}
.banner img{
    width: 500px;
}
.banner-text h3{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-text h1{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-text p{
    margin-top: 20px;
}
.banner-text button{
    margin-top: 20px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    background-color: #fff8f3;
    margin: 120px 0px;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #181818;
}
.section-desc{
    text-align: center;
    font-size: 18px;
    color: #181818;
    margin-top: 25px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}
.about-info{
    text-align: center;
}
.about-info p{
 font-size: 18px;
 color: #181818;
}
.about-info h4{
    font-size: 23px;
    color: #474747;
}
.desc{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill img{
    margin-bottom: 10px;
}
.skill p{
    margin-top: 10px;
    text-align: justify;
    font-size: 17px;
    line-height: 1.5;
    color: #474747;
}
.skill h4{
    margin-top: 10px;
}
.resume-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.education{
    margin-top: 130px;
    margin-bottom: 80px;
}
.resume-item h2{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-top: 30px;
}
.resume-item h3{
    color: #757575;
    margin-top: 10px;
}
.resume-item p{
    color: #757575;
    margin-top: 13px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.download-btn{
    text-align: center;
    margin-top: 30px;
}
footer{
    display: flex;
    padding: 130px 200px;
    background-color: #fff8f3;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.footer-column h3{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-column p{
    margin-bottom: 20px;
}
.footer-column .social-links a{
    margin-right: 20px;
}
.contact input[type="text"], .contact input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    background-color: #fff;
    border-radius: 5px;
    border: 0;
    width: 100%;
}